<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3TM2M496T7"></script>

<script>
  
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PZTBH47');
  
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3TM2M496T7');
  
  function onClickRead(title, readingTime) {
    gtag('event','read_article_time', {
      "author": "Lisa H",
      "title": title,
      "reading_time": readingTime,
    });
  
  }
  
  document.addEventListener("DOMContentLoaded", () => {
    
    //Skickar event till artikel 1
    document.getElementById("article1").addEventListener("click", () => {
      onClickRead("Den onda häxan", 5)
    });
    
     document.getElementById("article2").addEventListener("click", () => {
      onClickRead("Svarta äpplet", 31)
    });
    
     document.getElementById("article3").addEventListener("click", () => {
      onClickRead("Hämnden är nära", 2)
    });
    
     document.getElementById("article4").addEventListener("click", () => {
      onClickRead("Slutet", 7)
    });
    
    
  });
  

  
</script>
